.about {
    color: white;
    text-align: center;
    font-size: 1.4rem;
    margin-top: 5%;
   
}

.aboutt {
    margin-left: 4%;
    margin-right: 4%;
}

.about-content {
    font-family: 'Poppins';
font-weight:530;
    color: white;
    font-size: 1.5rem;
    text-align: justify;
    letter-spacing: normal;
    line-height: 0.8cm;
    padding: 0px 35px;
}

@media screen and (max-width: 768px) {
    .about-content {
        
font-weight:350;
        font-size: 1.1rem;
        line-height: 0.5cm;
        
    }
  
  }