.about {
    color: white;
    text-align: center;
    font-size: 1.4rem;
    margin-top: 5%;
}

.aboutt {
    margin-left: 4%;
    margin-right: 4%;
}

.about-content {
    color: white;
    font-size: 1.5rem;
    text-align: justify;
    letter-spacing: normal;
    line-height: 0.8cm;
    padding: 0px 35px;
}