  .counter {
    display: flex;
    justify-content: center;
    margin: 5em;
  }
  
  .counter-item {
    position: relative;
    width: 8em;
    height: 8em;
    margin: 2em;
    text-align: center;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgb(128, 128, 128);
    display: flex;
    justify-content: space-around;

  }
  
  .ring {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid white;
    background: rgba(212, 211, 211, 0.082);
    /* animation: rotate 6s linear infinite; */
  }
  
  .ring-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.5em;
  }

  .unit-label{
    font-size: 1em;
    position: relative;
    bottom: 30%;
  }
  
  /* @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } */
  
  .unit-label {
    margin-top: 0.5em;
  }
  
  @media screen and (max-width: 1025px) { 
    .counter-item{
      width: 5em;
      height: 5em;
      
    }
    .ring{
      margin-top: 2em;
      width: 6em;
      height: 6em;
    } 
  }

@media screen and (max-width: 770px) { 
  .counter-item{
    width: 4em;
    height: 4em;
  }
  .ring{
    margin-top: 2em;
    width: 5em;
    height: 5em;
  } 
}

@media screen and (max-width: 430px) { 
  .counter-item{
    width: 1em;
    height: 1em;
    margin: 1.7em;
  }
  .ring{
    margin-top: 2em;
    width: 3em;
    height: 3em;
  } 
  .unit-label{
    font-size: 0.7em;
  }
  .ring-inner{
    font-size: 1em;
  }
}
@media screen and (max-width: 330px) { 
  .counter-item{
    width: 1em;
    height: 1em;
    margin: 1.2em;
  }
  .ring{
    margin-top: 1.2em;
    width: 2em;
    height: 2em;
  } 
  .unit-label{
    font-size: 0.5em;
  }
  .ring-inner{
    font-size: 0.7em;
  }
  .counter{
    margin: 3em;
  }
}




  /*.counter {
  display: flex;
  justify-content: center;
  margin: 5em;
}

.counter-item {
  width: 5em;
  height: 6em;
  background: rgba(226, 223, 223, 0.525);
  border-radius: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1.5em;
  padding: 1%;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  box-shadow: 2px 2px 2px white;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/12399/free-pumpkin-wallpaper-25771-26455-hd-wallpapers.jpg');
  background-size: cover;
}

 .days {
  background-position: 15% 90%;
}

.hours {
  background-position: 25% 90%;}

.min {
  background-position: 35% 90%;}

.sec {
  background-position: 45% 90%;}  */
  