.partner {
  width: 20%;
  margin: auto;
}

.mySwiper {
  width: 100%;
  
}

.swiper-slide img {
  width: 20%; 
  border-radius: 10%;
}
@media screen and (max-width: 768px) {

  .partner {
    width: 100%;
    margin: auto;
  }
  
  .mySwiper {
    width: 100%;
      display: flex;
      justify-content: space-between;
      display: block;
  }
  
  .swiper-slide img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
  
  }
}