/*
.vim {
  font-family: 'Salsa';
  font-size: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;  
}
.Sponsors{
  padding-left: 10px;
  padding-right: 10px;
}
.partner {
  width: 20%;
  padding: 10px;
}

.mySwiper {
  width: 100%;
}

.swiper-slide img {
  width: 20%; 
  border-radius: 10%;
}
@media screen and (max-width: 768px) {

  .partner {
    width: 100%;
    margin: auto;
  }
  
  .mySwiper {
    width: 100%;
      display: flex;
      justify-content: space-between;
      display: block;
  }
  
  .swiper-slide img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
  
  }
}*/
.sponsors-carousel .slick-next {
  display: none !important;
}
.sponsors-carousel .slick-prev {
  display: none !important;
}
.sponsors-carousel {
  position: relative;
  left: 2%;
  width: 94%;
  padding: 8px; 
 
height:20%;
}

.XYZ {

  width: 60%;
}

.XYZ img {
  border-radius: 13%;
  max-width: 80%; /* Ensure the image takes the full width of its container */
  height: auto;
  padding: 5%;/* Adjust the margin to decrease the gap between images */
}
@media screen and (max-width: 768px) {
  .XYZ img {
    max-width: 96%;
    padding: 10px; /* Adjust padding for smaller screens */
  }
  .sponsors-carousel{
    width: 85%;
    left: 4.9%;
    margin-bottom: 10%;
   
  }
}