.container{
  width: 50%;
  height: auto;
  margin: 10em auto;
}

.w-100{
  margin: 5%;
}

.vim{
  font-family: 'Salsa';
  font-size: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

@media screen and (max-width: 426px) {
  .container {
    width: 65%;
    margin: 4em auto;
  }
  .w-100{
    height: 80%;
  }
}



