@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Salsa&display=swap');

.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 80px; /* Set the maximum width of the container */
}

.gallery-image {
  width: 100%;
  
  object-fit: cover; /* Maintain aspect ratio */
}

/* Add any additional styling as needed */

  .vim {
    font-family: 'Salsa';
    font-size: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; 
    background-color: black; 
  }
 