/* .App {
    font-family: sans-serif;
    text-align: center;
  } */
  

.vim{
    font-family: 'Salsa';
    font-size: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

@media (max-width: 330px) {
  .Carousel {
    width: 50%;
  }
}
