.preloader {
  position: fixed;
  }
  .preloader video{
    position: relative;
    top: -100px;
    width: 220vh;
height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media screen and (max-width: 900px) {
    .video {
      height: 30vh; /* Adjust the height as needed for smaller screens */
    }
    .preloader {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 70vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .preloader video{
      top: 60px;
    }
  }