.Navbar-content {
    color: white;
    display: flex;
    justify-content: end;
    font-size: 1.5rem;

    div {
        padding: 10px 10px;
        margin: 10px 10px;
        cursor: pointer;
    }
}

span {
    color: white;
}

.MobileMenuIcon {
    display: none;
    cursor: pointer;
    padding: 10px;

    span {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 1100px) {
    .Navbar-content {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 768px) {
    .Navbar-content {
        display: none;
        /* Hide by default on small screens */
        flex-direction: column;
        align-items: center;
    }

    .Navbar.open .Navbar-content {
        display: flex;
        /* Show when .open class is present */
    }

    .Navbar-content div {
        margin: 5px 0;
    }

    .MobileMenuIcon {
        display: block;
    }
}