@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
.scroll{
  font-family:Sacramento;
  color: #ffffff;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 200%;
  font-weight: lighter;
}
.scroll-down-container {
  position: fixed;
  z-index: 180;
  bottom: 20px;
  left: 45%;
  transform: translateX(-50%);
  opacity: 1;
  transition: opacity 0.1s ease-in-out;
}



.wrapper {
  display: flex;
  align-items: center;
}
.box {
  width: 20px;
  height: 35px;
  background: transparent;
  border: 3px solid #ffffff;
  border-radius: 30px;
  position: relative;
}

.circle {
  position: absolute;
  width: 10.5px;
  height: 10.5px;
  border-radius: 50%;
  background: #ffffff; 
  inset: 0;
  margin: auto;
  animation: circle 1.5s ease-in-out infinite alternate;
}


@keyframes circle {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}

.landing-page:not(:hover) .scroll-down-container {
  opacity: 0;
}

.landing-page {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  
}

.parallax-background {
background:url("../../assets/xenith24.jpg") center/cover no-repeat;;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-attachment: fixed;
}

.parallax-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.layer1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../../assets/bg2.png") center/cover no-repeat;
    z-index: 1;
    background-size: cover;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)10%);
}

.layer2 {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../../assets/xenith24.png") center/cover no-repeat;
    z-index: 2;
    background-size: cover;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)20%);
}

.content {
  position: relative;
  height: 100%;
  width: 100%;
  text-shadow: 4px 4px 4px black;
}

.content h1,
.content h5 {
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: #d1c3ae;
  margin: 0;
  text-shadow: 4px 4px 4px black;
}

.content h1 {
  top: 30%;
  font-size: 12vw;
}
.content h5 {
  top: 45%;
  font-size: 3vw;
}

@media screen and (max-width: 768px) {


  .content h1 {
    top: 30%;
    font-size: 4rem;
  }

  .content h5 {
    top: 36%;
    text-align: center;
    font-size: 1.26rem;
  }
  .scroll-down-container{
    left: 35%;
  }
}
