@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
body{
    background-color: #010302;
    margin :0;
    font-family: 'Josefin Sans', sans-serif;   
    overflow-x: hidden;
}



