@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
    background-color: #010302 !important;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    /* overflow-x: hidden; */

}
*::-webkit-scrollbar{
    width: 0;
}

::-webkit-scrollbar {
    width: 5px;
    /* background-color: blue; */
}

::-webkit-scrollbar-button {
    /* background: yellow */
    height: 0;
    width: 0;
}

::-webkit-scrollbar-track-piece {
    background: transparent
}

::-webkit-scrollbar-thumb {
    background: #d1c3ae;
    border-radius: 10px;
}